.lead__container {
  display: flex;
  max-width: 984px;
  flex-direction: column;
  margin: 0 auto 98px;
}

@media screen and (max-width:1184px) {
  .lead__container {
    margin:0 48px 98px;
  }
}

@media screen and (max-width:1023px) {
  .lead__container {
    margin:0 auto 98px;
  }
}

@media screen and (max-width:425px) {
  .lead__container{
    margin: 0 auto 86px;
  }
}