.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
}

@media screen and (max-width:1100px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px;
  }
}

@media screen and (max-width:768px) {
  .footer {
    display: block;
    padding: 64px 0 24px;
    margin: 0;
  }
}