.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 92px 48px 24px;
}




@media screen and (max-width:767px) {
  .footer {
    display: block;
    padding: 64px 0 24px;
    margin: 0;
  }
}